<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>deleteOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteAddress</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteAddress</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteCountry</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteCountry</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteDoctorOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteDoctorOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteCompanyOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteCompanyOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteWaiverOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteWaiverOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteEmergencyOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteEmergencyOptions</servlet-class>
    </servlet>
         
       <servlet>
        <servlet-name>deletePackages</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deletePackages</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteServices</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteServices</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteAddOns</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteAddOns</servlet-class>
    </servlet>
         
    <servlet>
        <servlet-name>deleteexistingConditionsHeadNeckOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteAddOns</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteexistingConditionsInfectiousOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteAddOns</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteexistingConditionsMedicationsOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteAddOns</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteexistingConditionsNeurologicalOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteAddOns</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteRespiratoryOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteRespiratoryOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteSkinOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteSkinOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteSTJDOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteSTJDOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteWomenOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteWomenOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertAddress</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertAddress</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertCountry</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertCountry</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertDoctorOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertDoctorOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertCompanyOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertCompanyOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertWaiverOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertWaiverOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertEmergencyOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertEmergencyOptions</servlet-class>
    </servlet>
         
    <servlet>
        <servlet-name>insertPackages</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertPackages</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertServices</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertServices</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertAddOns</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertAddOns</servlet-class>
    </servlet>   
         
    <servlet>
        <servlet-name>insertexistingConditionsHeadNeckOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertAddOns</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertexistingConditionsInfectiousOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertAddOns</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertexistingConditionsMedicationsOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertAddOns</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertexistingConditionsNeurologicalOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertAddOns</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertRespiratoryOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertRespiratoryOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertSkinOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertSkinOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertSTJDOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertSTJDOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertWomenOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertWomenOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateAddress</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateAddress</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateCountry</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateCountry</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateDoctorOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateDoctorOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateCompanyOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateCompanyOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateWaiverOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateWaiverOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateEmergencyOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateEmergencyOptions</servlet-class>
    </servlet>
         
    <servlet>
        <servlet-name>updatePackages</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updatePackages</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateServices</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateServices</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateAddOns</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateAddOns</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>cancellationSystem</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.cancellationSystem</servlet-class>
    </servlet>
         
    <servlet>
        <servlet-name>updateexistingConditionsHeadNeckOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateexistingConditionsInfectiousOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateexistingConditionsMedicationsOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateexistingConditionsNeurologicalOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateRespiratoryOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateRespiratoryOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateSkinOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateSkinOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateSTJDOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateSTJDOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateWomenOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateWomenOptions</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteOptions</servlet-name>
        <url-pattern>/deleteOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteAddress</servlet-name>
        <url-pattern>/deleteAddress</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteCountry</servlet-name>
        <url-pattern>/deleteCountry</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteDoctorOptions</servlet-name>
        <url-pattern>/deleteDoctorOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteCompanyOptions</servlet-name>
        <url-pattern>/deleteCompanyOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteWaiverOptions</servlet-name>
        <url-pattern>/deleteWaiverOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteEmergencyOptions</servlet-name>
        <url-pattern>/deleteEmergencyOptions</url-pattern>
    </servlet-mapping>
         
    <servlet-mapping>
        <servlet-name>deletePackages</servlet-name>
        <url-pattern>/deletePackages</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteServices</servlet-name>
        <url-pattern>/deleteServices</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteAddOns</servlet-name>
        <url-pattern>/deleteAddOns</url-pattern>
    </servlet-mapping>
         
   <servlet-mapping>
        <servlet-name>deleteexistingConditionsHeadNeckOptions</servlet-name>
        <url-pattern>/deleteexistingConditionsHeadNeckOption</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteexistingConditionsInfectiousOptions</servlet-name>
        <url-pattern>/deleteexistingConditionsInfectiousOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteexistingConditionsMedicationsOptions</servlet-name>
        <url-pattern>/deleteexistingConditionsMedicationsOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteexistingConditionsNeurologicalOptions</servlet-name>
        <url-pattern>/deleteexistingConditionsNeurologicalOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteRespiratoryOptions</servlet-name>
        <url-pattern>/deleteRespiratoryOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteSkinOptions</servlet-name>
        <url-pattern>/deleteSkinOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteSTJDOptions</servlet-name>
        <url-pattern>/deleteSTJDOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteWomenOptions</servlet-name>
        <url-pattern>/deleteWomenOptions</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>insertOptions</servlet-name>
        <url-pattern>/insertOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertAddress</servlet-name>
        <url-pattern>/insertAddress</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertCountry</servlet-name>
        <url-pattern>/insertCountry</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>insertDoctorOptions</servlet-name>
        <url-pattern>/insertDoctorOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertCompanyOptions</servlet-name>
        <url-pattern>/insertCompanyOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertWaiverOptions</servlet-name>
        <url-pattern>/insertWaiverOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertEmergencyOptions</servlet-name>
        <url-pattern>/insertEmergencyOptions</url-pattern>
    </servlet-mapping>
         
    <servlet-mapping>
        <servlet-name>insertPackages</servlet-name>
        <url-pattern>/insertPackages</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertServices</servlet-name>
        <url-pattern>/insertServices</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertAddOns</servlet-name>
        <url-pattern>/insertAddOns</url-pattern>
    </servlet-mapping>
         
   <servlet-mapping>
        <servlet-name>insertexistingConditionsHeadNeckOptions</servlet-name>
        <url-pattern>/insertexistingConditionsHeadNexkOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertexistingConditionsInfectiousOptions</servlet-name>
        <url-pattern>/insertexistingConditionsInfectiousOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertexistingConditionsMedicationsOptions</servlet-name>
        <url-pattern>/insertexistingConditionsMedicationsOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertexistingConditionsNeurologicalOptions</servlet-name>
        <url-pattern>/insertexistingConditionsNeurologicalOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertRespiratoryOptions</servlet-name>
        <url-pattern>/insertRespiratoryOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertSkinOptions</servlet-name>
        <url-pattern>/insertSkinOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertSTJDOptions</servlet-name>
        <url-pattern>/insertSTJDOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertWomenOptions</servlet-name>
        <url-pattern>/insertWomenOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateOptions</servlet-name>
        <url-pattern>/updateOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateAddress</servlet-name>
        <url-pattern>/updateAddress</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateCountry</servlet-name>
        <url-pattern>/updateCountry</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateDoctorOptions</servlet-name>
        <url-pattern>/updateDoctorOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateCompanyOptions</servlet-name>
        <url-pattern>/updateCompanyOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateWaiverOptions</servlet-name>
        <url-pattern>/updateWaiverOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateEmergencyOptions</servlet-name>
        <url-pattern>/updateEmergencyOptions</url-pattern>
    </servlet-mapping>
         
    <servlet-mapping>
        <servlet-name>updatePackages</servlet-name>
        <url-pattern>/updatePackages</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateServices</servlet-name>
        <url-pattern>/updateServices</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateAddOns</servlet-name>
        <url-pattern>/updateAddOns</url-pattern>
    </servlet-mapping>
         
   <servlet-mapping>
        <servlet-name>updateexistingConditionsHeadNeckOptions</servlet-name>
        <url-pattern>/updateexistingConditionsHeadNeckOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateexistingConditionsInfectiousOptions</servlet-name>
        <url-pattern>/updateexistingConditionsInfectiousOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateexistingConditionsMedicationsOptions</servlet-name>
        <url-pattern>/updateexistingConditionsMedicationsOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateexistingConditionsNeurologicalOptions</servlet-name>
        <url-pattern>/updateexistingConditionsNeurologicalOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateRespiratoryOptions</servlet-name>
        <url-pattern>/updateRespiratoryOptions</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>updateSkinOptions</servlet-name>
        <url-pattern>/updateSkinOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateSTJDOptions</servlet-name>
        <url-pattern>/updateSTJDOptions</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>updateWomenOptions</servlet-name>
        <url-pattern>/updateWomenOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cancellationSystem</servlet-name>
        <url-pattern>/cancellationSystem</url-pattern>
    </servlet-mapping>
         
</web-app>

