<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>deleteOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteDoctorOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteDoctorOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteCompanyOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.deleteCompanyOptions</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteOptions</servlet-name>
        <url-pattern>/deleteOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteDoctorOptions</servlet-name>
        <url-pattern>/deleteDoctorOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteCompanyOptions</servlet-name>
        <url-pattern>/deleteCompanyOptions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>insertOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertDoctorOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertDoctorOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>insertCompanyOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.insertCompanyOptions</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>insertOptions</servlet-name>
        <url-pattern>/insertOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertDoctorOptions</servlet-name>
        <url-pattern>/insertDoctorOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>insertCompanyOptions</servlet-name>
        <url-pattern>/insertCompanyOptions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateDoctorOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateDoctorOptions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>updateCompanyOptions</servlet-name>
        <servlet-class>com.uh.rachel.util.servlets.updateCompanyOptions</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updateOptions</servlet-name>
        <url-pattern>/updateOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateDoctorOptions</servlet-name>
        <url-pattern>/updateDoctorOptions</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateCompanyOptions</servlet-name>
        <url-pattern>/updateCompanyOptions</url-pattern>
    </servlet-mapping>


</web-app>

